.hero_section {
    background-image: url('/Images/back.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 1000px) {
    .hero_section {
        background-image: none;
    }
}

.rectangle_with_cut {
    position: relative;
    height: 500px;

    background-color: #4640DE;
    overflow: hidden;
}

.rectangle_with_cut::before,
.rectangle_with_cut::after {
    content: '';
    position: absolute;
    width: 150px;
    /* Adjust this value to change the cut size */
    height: 150px;
    /* Adjust this value to change the cut size */
    background-color: white;
}

.rectangle_with_cut::before {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
}

.rectangle_with_cut::after {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(45deg);
}